{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index | SES</title>
</head>
<body> --}}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap" rel="stylesheet">


    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark pb-4" style="background-color: #1a1a1a!important;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">SES</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/index">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">ABOUT US</a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link" href="/contact">CONTACT US</a>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
      
      <div class="slider">
        <figure>
            <div class="slide slide2" >
                <p class="main"> <span class="heading-primary-sub  animate__animated animate__backInLeft ">Welcome to <span class="twd">  Stride </span> Engineering Solutions</span>
                    <span class="heading-primary-main animate__animated animate__backInRight ">
                        WORKING <span class="twd"> &nbsp;TOWARDS </span> BUILDING A SUSTAINABLE FUTURE
                    </span>
                </p>
            </div>
        </figure>
    </div>
    <div class="container"> 
        <div class="heading-welcome">
           <h1 class="heading-welcome"> WELCOME TO <span class="twd"> STRIDE ENGINEERING SOLUTION </span></h1>
        </div>
        <p class="stride-home-about">
            Stride Engineering Soltion is a leading manufacturer for Innovative Heating, Cooling and Effluent/Chemical recovery solutions in India. Stride continues to innovate & strives to save operational cost for its customers. It also endeavours to create a cleaner environment across the globe through its products and services.
        </p>
    
        <a href="/about" class="btn-text"> Read more &rarr; </a>
    
        </div>
        <div class="album py-5 bg-dark">
            <div class="container">
        
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                  <div class="card shadow-sm">
                    <img class="bd-placeholder-img" width="100%" height="225" src="/img/paint-1.jpg"  alt="">
                    <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail-1</text></svg> -->
        
                    <div class="card-body">
                      <p class="card-text">
                       <h6 class="twd"> <strong> SPRAY GUNS </strong></h6> This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                        <a href="/products">
                             <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                         </a> 
                          
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <img class="bd-placeholder-img" width="100%" height="225" src="/img/paint-2.jpg"  alt="">

                    <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail-2</text></svg> -->
        
                    <div class="card-body">
                      <p class="card-text"> <h6 class="twd"> <strong>  PAINT CIRCUALTION SYSTEMS </strong></h6>
                        This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                         <a href="/products">
                             <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                         </a> 
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <img class="bd-placeholder-img" width="100%" height="225" src="/img/diap.jpg"  alt="">

                    <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail-3</text></svg> -->
        
                    <div class="card-body">
                      <p class="card-text"> <h6 class="twd"> <strong>  DIAPHRAGM PUMPS </strong></h6>  This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
        
                <div class="col">
                  <div class="card shadow-sm">
                    <img class="bd-placeholder-img" width="100%" height="225" src="/img/diap.jpg"  alt="">

                    <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail-4</text></svg> -->
        
                    <div class="card-body">
                      <p class="card-text">  <h6 class="twd"> <strong> SPRAY GUNS </strong></h6> This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <img class="bd-placeholder-img" width="100%" height="225" src="/img/paint-3.jpg"  alt="">

                    <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail-5</text></svg> -->
        
                    <div class="card-body">
                      <p class="card-text">  <h6 class="twd"> <strong> SPRAY GUNS </strong></h6>  This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <img class="bd-placeholder-img" width="100%" height="225" src="/img/paint-3.jpg"  alt="">

                    <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail-6</text></svg> -->
        
                    <div class="card-body">
                      <p class="card-text">  <h6 class="twd"> <strong> SPRAY GUNS </strong></h6> This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
        
                
                </div>
                
                
              </div>
            </div>
          </div>
          <div class="parallaxone">
            <h2> ENGINEERING <span class="twd"> SOLUTIONS PROVIDER <span></span> </h2>
        </div>
        <div class="footer">
          <div class="footer-content">
              <div class="footer-section about">
                  <h1 class="logo-text"><span>STRIDE</span> ENGINEERING SOLUTIONS</h1>
                  <p>Distributors and Solutions provider in Surface finishing and Chemical industries. </p>
                  <div class="contact">
                      <span><i class="fas fa-phone-square-alt"></i> &nbsp; +917774922778 &nbsp;</span>
                      <span><i class="fas fa-envelope"></i> &nbsp; sales@stride.com </span>
                      <div class="socials">
                          <a href="#"><i class="fab fa-facebook-square"></i></a>
                          <a href="https://wa.me/917774922778" class="whatsapp_float" target="_blank"><i class="fab fa-whatsapp"></i></a>
                          <a href="#"><i class="fab fa-linkedin"></i></a>
                      </div>
                  </div>
              </div>
              <div class="footer-section links">
                  <h2>Quick Links</h2>
                  <br>
                  <ul>
                      <a target="_blank" href="https://www.google.com/maps/place/Shree+Rajlaxmi+Logistics+Park/@19.3357504,73.104426,16.65z/data=!4m12!1m6!3m5!1s0x0:0xd6b5112fd348f795!2sVitthal+Mandir!8m2!3d19.3356983!4d73.1048466!3m4!1s0x3be797f63c850085:0x7db1a31de0afac82!8m2!3d19.3352244!4d73.1032822?hl=en"><li>Location</li></a>
                      <a href="/contact"><li>Contacts</li></a>
                      <a href="/about"><li>About</li></a>
                  </ul>
              </div>
 
              <div class="footer-section contact-form">
                  <h2>Contact Us</h2>
                  <br>
                  <form action="/index" method="post">
                      <input type="email" name="email"  class="text-input contact-input" placeholder="Your Email Address..."/>
                      <textarea name="message"  class="text-input contact-input" placeholder="Your message..."></textarea>
                      <button type="submit" class="btn btn-big">
               <i class="far fa-paper-plane"></i>
               Send
             </button>
           
                  </form>
              </div> 
              </div>
              <div class="footer-bottom">
                 2021 &copy;sales@Stried-es.com 
              </div>
      </div>
    
    

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->
    <script src="/app.js"></script>
  </body>
</html>
</body>
</html>