<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap" rel="stylesheet">

    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark pb-4" style="background-color: #1a1a1a!important;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/index">SES</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/index">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">ABOUT US</a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link" href="/contact">CONTACT US</a>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
      <div class="row featurette">
        <div class="col-md-7">
        <h2 class="featurette-heading featuretteh2"  ><span class=" text-responsive " style="color: #ff2330;" >230 Pressure Feed Gun</span></h2>
        <p class="lead" style="color: white;" > 230 Pressure Feed Gun is made of Aluminium forged gun body which is light in weight and slim in design for ease to hold the gun while painting. The Spray gun is of good strength and durability due to Forged Aluminium body. The gun needle is available in Nylon and SS to suit Paint characteristic with nozzle set up in variant of 0.8 mm, 1 mm, 1.2 mm, 1.5 mm, 1.8 mm, 2.0 mm & 2.5 mm to serve different viscosity of Paint or fluid. Stride 230 Pressure Feed Gun will make your task of painting smooth and comfortable due to ACV feature which allows the operator to control Air flow from the gun body itself.

        The Transfer efficiency of Stride 230 Gun is 30% to 35%. which is suitable for high painting application. Stride 230 Spray gun provides uniform and A- Class finish on component which in turn enhance product Quality & Beauty.</p>
      </div>
      <div class="col-md-5">
        <img  src="/img/230PressureFeedSprayGun.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></img>

      </div>
    </div>
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading"  > <span class="text-responsive"  style="color: #ff2330;">Trio-make Conventional Pressure Feed Spray Gun (TLPF)</span></h2>
        <p class="lead" style="color: white;">This is a conventional Pressure feed air automizing spray painting gun. Its precision workmanship is designed to give you perfect coat finish quality. It has ergonomically designed light weighted and well balanced gun body along with smooth triggering action which reduces operators fatigue. The Spray gun is featured with ACV (Air Control Valve) at the rear of the gun body to control air flow from the Spray gun itself which makes it user friendly to the Gun operator.

The Spray gun needle comes in MS/SS to choose with to suit paint characteristic and in nozzle set up of ranging from 0.5 mm, 0.8 mm, 1.1 mm, 1.4 mm, 1.8 mm, 2.0 mm &amp; 2.5 mm to be use accordingly with paint viscosity.</p>
      </div>
      <hr style="color: red;">
      <div class="col-md-5 order-md-1">
        <img  src="/img/tlpf01.jpg" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></img>

      </div>
    </div>
      <hr style="color: red;">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"><span class="text-responsive"  style="color: #ff2330;">Trio-make HVLP Pressure Feed Spray Gun (TLPF HVLP)</span></h2>
        <p class="lead"  style="color: white;">Trio Make HVLP Spray Gun works on the principal of (High Volume- Low Pressure). Due to its working principal, HVLP Spray gun has advantage over Conventional spray gun w.r.t lesser over spray of fluid &amp; paint saving.

The Spray gun is made of forged Aluminium body which gives it high strength for longer durability and available in SS Tip &amp;  Needle set in combination of 0.5 mm, 1.1 mm, 1.4 mm, 1.8 mm, 2.0 mm &amp; 2.5 mm nozzle set up to serve various viscosity of paints.</p>
      </div>
      <div class="col-md-5">
        <img  src="/img/HVLPPressureFeedSprayGun-small.jpg"  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></img>

      </div>
    </div>
      <hr style="color: red;">

      
      <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading"  > <span class="text-responsive"  style="color: #ff2330;">MAL-H1 Pressure Feed Spray Gun</span></h2>
        <p class="lead" style="color: white;">MAL-H1 low pressure lightweight Pressure feed type spray gun with a perfect atomization effect</p>
      </div>
      <div class="col-md-5">
        <img  src="/img/MAL-H1GravityFeedSprayGun-small.jpg"  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></img>

      </div>
    </div>
      <hr style="color: red;">

        </body>
</html>
      
